body{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}

span{
    text-decoration: underline;
}
.top-container{
    
    background-color:#E4F9F5;  
    position: relative;
    padding: 100px;
}

h1{
    color: #66BFBF;
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    line-height: 2;
}
h2{  
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
h3{  
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}

.heading-para{
    font-size: 2.5rem; 
}
.my-image{
    padding: 2em;
}
.middle-container {
    
}

.bottom-container {
    
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;

}
.bottom-cloud{
    position: absolute;
}


.skillrow{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;

}
.code-img{
    width: 25%;
    border: 1px;
    border-radius: 100em;
}

